@model Models.ZhaoPin

@{
    /**/
    ViewBag.Title = "招聘信息详情";
    Layout = "~/Views/Shared/_LayoutZg.cshtml";
}
<style>
    .btnfuli,
    .btnxinzi {
        border-radius: 30px;
        height: 25px;
        line-height: 15px;
    }

</style>

<div class="container mt10">
    <div class="row">
        <!--start left -->
        <div class="col-xs-12  col-lg-9 pr0">
            <div class="box">
                <div class="page-header" style="padding-top: 10px">
                    <i class="glyphicon glyphicon-home"></i>
                    <a href="#">首页</a><em> / </em><a href="#">@ViewBag.Title</a>
                </div>
                <div class="zg_detail ">
                    <div class="rows">
                        <ul class="nav nav-list">
                            <div class="row">
                                <div class="col-xs-12 col-lg-8">
                                    <li style="color: #145fa8;font-size: 16px"><b>【@Model.zpArea-@Model.zpZhuti】 </b></li>
                                </div>
                                <div class="col-xs-12 col-lg-4 text-right mr-20" >
                                    <span style="color:#f0ad4e;font-weight:bold;font-size:1.8rem"> @Model.zpPayL- @Model.zpPayH</span> 元/月
                                </div>
                            </div>
                           
                            <li>
                                <i class="fa fa-hourglass" aria-hidden="true" style="color: #145fa8"></i>
                                发布时间：@Model.zpAddtime
                            </li>
                            <li><i class="fa fa-id-card" aria-hidden="true" style="color: #145fa8"></i> 联系人：@Model.zpUser</li>
                            <li>
                                <i class="fa fa-users" aria-hidden="true" style="color: #145fa8"></i> @Model.zpXuqiu：
                                【@Model.zpGangwei-@Model.zpNum 人】
                            </li>
                            <li>
                                <div style="width: 100%">
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-8">
                                            <div class="btn-group float-left" role="group"
                                                 aria-label="Button group">
                                                <button type="button" class="btn btn-primary">电话号码：</button>
                                                <button type="button" class="btn btn-default">
                                                    @{
                                string m = Model.zpPhone;
                                m = m.Replace(m.Substring(m.Length - 4, 4), "****");
                                                    }
                                                    <span id="zgP1">  @m</span>
                                                    <span id="zgP2" hidden>@Model.zpPhone</span>
                                                </button>

                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-4 text-right">
                                            @{if (this.User.Identity.IsAuthenticated)
                        {
                            <button id="zgP" data-toggle="modal" data-target="#phone" class="btn btn-danger right">查看完整电话号码</button>
}
else
{
                        <button data-toggle="modal" data-target="#nologin" class="btn btn-danger right">查看完整电话号码</button>
}
                                            }
                                        </div>

                                    </div>
                                    <script>
                                        $('#zgP').click(function () {
                                            $('#zgP1').hide();
                                            $('#zgP2').show();
                                        });
                                    </script>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box mt15 pl15">

                <i class="fa fa-newspaper-o " aria-hidden="true" style="color: #145fa8"></i> 招工详情:
                <hr>
                @{
                    string str = Model.zpFuli;
                    string[] sArray = str.Split(',');
                    foreach (string i in sArray)
                    {
                        <button type="button" class="btnfuli btn btn-default btn-sm">@i</button>
                    }
                }


                <br> <br>
                <div class="content">
                    @Model.zpDetail
                </div>
            </div>
        </div>
        <!--end left -->
        <!--start right -->
        @Html.Partial("/Views/Shared/_ZgRight.cshtml")
        <!--end right -->
    </div>

</div>


