@model Models.ZhaoGong

@{
    ViewBag.Title = "发布招工信息";
    Layout = "~/Views/Shared/_LayoutZg.cshtml";
}
<!--验证-->
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<!--Ajax-->
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<!--城市-->
<script type="text/javascript" src="/script/City_data.js"></script>
<script type="text/javascript" src="/script/areadata.js"></script>
<script type="text/javascript" src="/script/auto_area.js"></script>


<div class="container">
    <div class="row margin-t-5">
        <!--start left -->
        @Html.Action("UCLeft", "zhaogong")
        <!--end left -->
        <!--start right -->
        <form action="/ZhaoGong/getZgFabu" method="post">
            <div class="col-xs-12  col-lg-9" style="margin-top:0px">
                <div class="box">
                    <div class="page-header" style="padding-top: 10px">
                        <i class="glyphicon glyphicon-th-list"></i>&nbsp;<a href="#">@ViewBag.Title</a>
                        <span id="AddMsg" style="color:green;font-weight:bold"></span>
                    </div>
                    @*zgId, zgTitle, zgXuqiu, zgZhuTilei, zgZhuti, zgArea, zgGz, zgNum, zgDetail, zgUser, zgPhone,
                        zgFaburen, zgStarttime, zgEndtime, zgAddtime, zgImg1, zgImg2, zgImg3, isTuijian, isRemen*@
                    <div class="zg_fabu">
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-lg-2 text-right" style="letter-spacing:8px"><b>需&nbsp;&nbsp;&nbsp;&nbsp;求 </b></div>
                            <div class="col-lg-10">
                                <select name="zgXuqiu">
                                    <option value="需要">需要</option>
                                    <option value="提供">提供</option>
                                </select>
                                <span style="color:red">@Html.ValidationMessage("userName")</span>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-lg-2 text-right" style="letter-spacing:8px"><b>所需工种</b></div>
                            <div class="col-lg-10">
                                <input id="zgGz" name="zgGz" class=" form-control" type="text" data-toggle="modal" data-target="#myModal">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-lg-2 text-right" style="letter-spacing:8px"><b>招工主体</b></div>
                            <div class="col-lg-10">
                                <span style="color:red">@Html.ValidationMessage("zgZhuTi")</span>
                                <div class="row">
                                    <div class="col-3">
                                        <select name="zgZhuTilei">
                                            <option value="企业">企业</option>
                                            <option value="项目">项目</option>
                                            <option value="队伍">队伍</option>
                                        </select>
                                    </div>
                                    <div class="col-9">
                                        <input id="zgZhuTi" name="zgZhuTi" class=" form-control" type="text" placeholder="请输入企业/项目/或队伍名称">
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-lg-2 text-right" style="letter-spacing:8px"><b>需要人数</b></div>
                            <div class="col-lg-10">
                                <input name="zgNum" type="text" class=" form-control" value="" data-value="" />
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-lg-2 text-right" style="letter-spacing:8px"><b>选择地区</b></div>
                            <div class="col-lg-10">

                                <input name="zgArea" type="text" class="area-danxuan form-control" value="" data-value="" />
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-lg-2 text-right" style="letter-spacing:8px"><b>工&nbsp;&nbsp;&nbsp;&nbsp;期</b></div>
                            <div class="col-lg-10">
                                <input name="zgStarttime" type="text" class=" form-control" value="" data-value="" />
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-lg-2 text-right" style="letter-spacing:8px"><b>联&nbsp;系&nbsp;人</b></div>
                            <div class="col-lg-10">
                                <input name="zgUser" class="form-control" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-lg-2 text-right" style="letter-spacing:8px"><b>联系电话</b></div>
                            <div class="col-lg-10">
                                <span style="color:red">@Html.ValidationMessage("zgPhone")</span>
                                <input name="zgPhone" class="form-control" type="text" value="@this.User.Identity.Name" placeholder="">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-lg-2 text-right" style="letter-spacing:8px"><b>招工详情</b></div>
                            <div class="col-lg-10">

                                <textarea name="zgDetail" style="width:100%" rows="5" placeholder="请输入详情（如招工要求、工作内容、工资待遇、结款方式/周期等），有助于您更快、更准确的招到好工人~" lay-verify="required"></textarea>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:20px">
                            <div class="col-lg-8 text-right" style="letter-spacing:8px"></div>
                            <div class="col-lg-4 text-right">
                                <button class="btn btn-primary " type="submit">提交</button>
                                <button class="btn btn-default ">取消</button>
                            </div>
                        </div>
                        <input name="zgFaburen" value="@this.User.Identity.Name" class="form-control" type="hidden">
                    </div>


                </div>
            </div>

        </form>
    </div>

    <!--end right -->

</div>

<!-- Modal 工种-->
@Html.Action("GongZhong", "zhaogong")
<!-- Modal 工种结束-->
