@using X.PagedList;
@using X.PagedList.Mvc;
@{
    ViewBag.Title = @ViewBag.kword + "管理";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="content">

    <!-- Start Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-lg-3 col-sm-12 text-left">  <h1 class="title">@ViewBag.Title</h1></div>
            <div class="col-lg-6 col-sm-8 text-left">
                <select class="selectpicker form-control" name="acId" style="margin-left: 0">
                    @if (ViewBag.acId != null)
                    {
                        <option value="@ViewBag.acId">===== @ViewBag.kWord ==== </option>
                    }
                    @if (ViewBag.ACList != null)
                    {
                        foreach (var ACList in ViewBag.ACList)
                        {
                            <option value="@ACList.acName">@ACList.acName</option>

                        }
                    }
                </select>
            </div>
            <script>
                $(function() {
                    $(".selectpicker").change(function() {
                        var $kWord = $(".selectpicker").val();
                        //$.post("/article/aArticleList/", { kWord: $kWord });
                        window.location.href = "/Admin/ArticleList/?kWord=" + $kWord;

                    });
                })
               
            </script>
            <div class="col-lg-3 col-sm-4 text-right">
                <div class="btn-group" role="group" aria-label="..." style="margin-right: 10px">
                    <a href="/Admin/ArticleAdd?kWord=@ViewBag.kWord" class="btn btn-primary">添加</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->

    <div class="container-widget">

        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body table-responsive">
                        <div class="box">
                            <table id="example" class="table display table-hover">
                                <thead>
                                <tr>
                                    <th>文章标题 </th>
                                    <th>作者</th>
                                    <th>添加时间</th>
                                    <th>详细信息</th>
                                </tr>
                                </thead>
                                <tbody>
                                @if (ViewBag.List != null)
                                {
                                    foreach (var alist in ViewBag.list)
                                    {
                                        //aId, aName, aContent, acId, aAuthor, aPV, aAddtime, isTuiJian, isReMen, isZhiDing, aType, aLink
                                        <tr id="@alist.aId">
                                            <td>@(alist.aName.Length > 20 ? alist.aName.Substring(0, 20) + "..." : alist.aName)</td>
                                            <td>@alist.aAuthor</td>
                                            <td>@alist.aAddtime.ToString("yyyy-MM-dd") </td>
                                            <td>
                                                <a href="/Article/GetDetail?id=@alist.aId" target="_blank"><span style="color: #0c5daa">浏览</span> </a>
                                                &nbsp;&nbsp;<a href="/Admin/ArticleEdit/?id=@alist.aId"><span style="color: #0c5daa">编辑</span> </a>
                                                &nbsp;&nbsp;<a href="/Article/ArticleDel/?id=@alist.aId&kWord=@alist.acName" name="@alist.aId" onclick="if (confirm('确定删除?') == false) return false" ; class="delu"><span style="color: red">删除</span></a>
                                            </td>
                                        </tr>

                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                        </div>
                        </div>
                </div>
            </div>
            <!-- End Panel -->

            <div class="text-center">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("ArticleList", new { page, ViewBag.kword }))
            </div>
        </div>
        <!-- End Row -->

    </div>
    <!-- END 内容部分  -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->

