@using X.PagedList;
@using X.PagedList.Mvc;
@{
    ViewBag.Title = @ViewBag.kword + "管理";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="content">

    <!-- Start Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-lg-3 col-sm-12 text-left">  <h1 class="title">@ViewBag.Title</h1></div>
            <div class="col-lg-6 col-sm-8 text-left">
              
            </div>
            <script>
                $(function () {
                    $(".delu").click(function () {
                        if (!confirm("确认删除吗？")) return;
                        var ID = $(this).attr("name");
                        $.post("/Admin/LwDel/", { id: ID }, function (data, status) {
                            $("#" + ID).remove();
                            $(success("删除成功！"));
                        });
                    });
                });
            </script>
            <div class="col-lg-3 col-sm-4 text-right">
                <div class="btn-group" role="group" aria-label="..." style="margin-right: 10px">
                    <a href="#" class="btn btn-primary">发布</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->

    <div class="container-widget">

        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body table-responsive">
                        <div class="box">
                           
                            <div class="my_fabu">

                                <div class="panel-body table-responsive">

                                    <table id="example" class="table display table-striped">
                                        <thead>
                                            <tr>
                                                <th>姓名 </th>
                                                <th>工种</th>
                                                <th>发布时间</th>
                                                <th>详细信息</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @if (ViewBag.List != null)
                                            {
                                                foreach (var alist in ViewBag.list)
                                                {//lwId, lwTitle, lwName, lwSex, lwage, lwPhone, lwArea, lwGz, lwDetail, lwAddtime, lwZhuangtai, isTuijian, isRemen
                                                    <tr id="@alist.lwId">
                                                        <td> <a target="_blank" href="/Laowu/GetDetail?id=@alist.lwId">@alist.lwName</a></td>
                                                        <td>@alist.lwGz</td>
                                                        <td>@((alist.lwAddtime).ToString("yyyy-MM-dd") )</td>
                                                        <td>
                                                            <a href="//laowu/GetDetail?id=@alist.lwId"><span style="color:#0c5daa">详情</span> </a>&nbsp;&nbsp;
                                                            <a href="#" name="@alist.lwId" class="delu"><span style="color:red">删除</span></a>
                                                        </td>
                                                    </tr>

                                                }
                                            }
                                        </tbody>

                                    </table>


                                </div>

                            </div>


                        </div>
                    </div>
                        </div>
                </div>
            </div>
            <!-- End Panel -->

            <div class="text-center">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("ArticleList", new { page, ViewBag.kword }))
            </div>
        </div>
        <!-- End Row -->

    </div>
    <!-- END 内容部分  -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->

