<!--选择工种-->
<script>
        function getCheckBoxVal() {
            //jquery获取复选框值
            var chk_value = []; //定义一个数组
            $('input[name="interest"]:checked').each(function () { //遍历每一个名字为interest的复选框，其中选中的执行函数
                chk_value.push($(this).val()); //将选中的值添加到数组chk_value中
            });
            // alert(chk_value.length == 0 ? '你还没有选择任何内容！' : chk_value);
            $('#zgGz').val(chk_value);
            dwr.util.setValue(checkboxInfo, chk_value);
        }
</script>
<style>
    .gongz div {
        margin: 10px;
    }
</style>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">选择工种</h4>
            </div>
            <div class="modal-body gongz">
                <span>【管理岗】</span>
                <div class="row">

                    @if (ViewBag.List1 != null)
                    {

                        foreach (var lista in ViewBag.list1)
                        {
                            <div style="float:left"><input type="checkbox" name="interest" value="@lista.gzName" />@lista.gzName</div>

                        }
                    }
                </div>


                <span>【技术工人】</span>
                <div class="row">

                    @if (ViewBag.List2 != null)
                    {

                        foreach (var listb in ViewBag.list2)
                        {
                            <div style="float:left"><input type="checkbox" name="interest" value="@listb.gzName" />@listb.gzName</div>

                        }
                    }
                </div>
                <span>【特种作业人员】</span>
                <div class="row">

                    @if (ViewBag.List3 != null)
                    {

                        foreach (var listc in ViewBag.list3)
                        {
                            <div style="float:left"><input type="checkbox" name="interest" value="@listc.gzName" />@listc.gzName</div>

                        }
                    }
                </div>
                <span>【司机驾驶员】</span>
                <div class="row">

                    @if (ViewBag.List4 != null)
                    {

                        foreach (var listd in ViewBag.list4)
                        {
                            <div style="float:left"><input type="checkbox" name="interest" value="@listd.gzName" />@listd.gzName</div>

                        }
                    }
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="getCheckBoxVal()">确认</button>
            </div>
        </div>
    </div>
</div>
